<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.seven.simpleandroid">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络权限 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 震动权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 摄像头权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.TouchEventActivity">
        </activity>
        <activity android:name=".activity.PrintActivity" />
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ListActivity" />
        <activity android:name=".activity.SwipeActivity" />
        <activity
            android:name=".activity.Drawer2Activity"
            android:label="@string/title_activity_drawer2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Drawer1Activity"
            android:label="@string/title_activity_drawer1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.BottomNavActivity"
            android:label="@string/title_activity_bottom_nav" />
        <activity
            android:name=".activity.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.RecyclerViewActivity"
            android:label="@string/title_activity_recycler"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ToolbarActivity"
            android:label="@string/title_activity_toolbar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.NestedActivity"
            android:label="@string/title_activity_nested"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.FragmentActivity"
            android:label="@string/title_activity_fragment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MultipleTabActivity"
            android:label="@string/title_activity_multiple_tab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.BannerActivity" />
        <activity android:name=".activity.MoveActivity" />
        <activity android:name=".activity.QRCodeActivity" />
        <activity android:name=".activity.ScanActivity" />
        <activity android:name=".activity.WifiActivity" />
        <activity android:name=".activity.PermissionActivity" />
        <activity android:name=".activity.SharedImageActivity" />
        <activity android:name=".activity.SharedElementActivity" />
        <activity
            android:name=".activity.NestedViewPagerActivity"
            android:label="@string/title_activity_nested_view_pager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LazyLoadingFragmentActivity"
            android:label="@string/title_activity_lazy_loading_fragment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.TabbedActivity"
            android:label="@string/title_activity_tabbed"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>