<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seven.simpleandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ListActivity" />
        <activity android:name=".activity.SwipeActivity" />
        <activity
            android:name=".activity.Drawer2Activity"
            android:label="@string/title_activity_drawer2"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".activity.Drawer1Activity"
            android:label="@string/title_activity_drawer1"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".activity.BottomNavActivity"
            android:label="@string/title_activity_bottom_nav" />
    </application>

</manifest>